html {
   font-family: 'Courier New', Courier, monospace;
   font-size: medium;
   background-color: #004445;
   color: white;
}

body {
   margin: 0;
   padding: 0;
}

.main-content {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

h1 {
   margin: 0;
   padding: 0;   
}

h2 {
   margin: 0;
   padding: 0;
}

@media screen and (min-width: 768px) {
   html {      
      font-size: x-large;
   }
}