---
---

@import "{{ site.theme }}";

.site-nav {
   list-style-type: none;
   overflow: hidden;
   margin: 0;
   padding: 0;
   position: absolute;
   right: 15px;
   font-size: 1.5em;
}

.site-nav-li {
   float: left;
}

.site-nav-li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

.site-nav-li a:hover {
   background-color: #111;
}
